$fg: #eee;
$mg: #777;
$bg: #222;

body {
  margin: 0;
  font-family: Helvetica;
  color: $fg;
  background-color: $bg;
}

select {
  margin: 5px 0 5px 20px;
  padding: 5px 35px 5px 5px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid $mg;
  height: 30px;
  appearance: none;
  background: $bg;
  color: $fg;
}

.stream-viewer {
  max-width: 100%;
  max-height: 100%;
}

.param-tuner {
  height: 100%;
  overflow-y: scroll;
}

.param-editor {
  padding: 5px;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  label {
    text-align: right;
    margin-right: 10px;
  }

  .parameter-value text {
    fill: white; // sets the 'currently chosen' value of d3-simple-slider
  }

  .collapsible-button {
    display: block;
    background: $mg;
    border: none;
    outline: none;
    width: 100%;
    max-width: 280px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    color: $bg;

    $active-color: lighten($mg, 10);

    &:hover {
      background: $active-color;
    }

    &.active {
      background: $active-color;

      // caret icon
      &:after {
        content: "▲"; /* "-" unicode */
      }
    }

    // caret icon
    &:after {
      content: "▼"; //"\02795"; /* "+" unicode */
      font-size: 13px;
      float: right;
      margin-left: 5px;
    }
  }

  .collapsible-panel {
    padding: 0 4px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;

    &.active {
      padding-top: 10px;
      max-height: 400px;
    }
  }
}
